/* You can add global styles to this file, and also import other style files */
body{
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url("adventure-calm-clouds-414171.jpg");
    font-family: 'Montserrat', sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn{
    cursor: pointer;
}