h1{
    color: #ffffff;
    font-weight: 900;
    letter-spacing: -.02em;
    line-height: 1.2;
    font-size: 32px;
    margin: 0;
    padding: 0.5em 0 0.25em;
}

.heading:hover{
    color: #1ED760;
}

@media(min-width:768 px){
    h1{
        font-size: 40;
    }
}

@media(min-width:992 px){
    h1{
        font-size: 48px;
    }
}